body{
  background-color: blue;
}
.cliquable{
  cursor: pointer;
}
nav div ul{
  display: flex;
  
}
nav{
  background-color: #fff;
  box-shadow: 3px 3px #fff;
  display: flex;
  align-content: space-around;
  justify-content: space-between;
  align-items: normal;
  margin-bottom: 20px;
}
nav ul li{
  margin: 7px;
  list-style: none;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.8em;
  
}
.card-shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.list-table{
  background-color: #fff;
}

.c-search{
  background-color: #fff;
}
.my-row{
  display: flex;
  justify-content: center;
}
.static-card{
  border: 1px solid rgba(0, 0, 255, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 2px solid blue; 
  padding: 15px;
  
}
.im-upload{
  cursor: pointer;
}
.chif{
  border-radius: 50%;
  padding: 10px;
  background: green;
  color: white;
}
.chif1{
  
  border-radius: 50%;
  padding: 10px;
  background: rgb(165, 165, 43);
  color: white;
 
}
.chif2{
  
  border-radius: 50%;
  padding: 10px;
  background: red;
  color: white;
 
}
.input-sh{
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  background: transparent;
}
.container-search{
  display: flex;
  justify-content: space-evenly;
}
.modal-width {
  width: 70%;
}
.lespage {
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: #fff;
}